*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
  position: fixed;
  width: 420px;
  background-color: #000;
}

.restaurant-list {
  padding-top: 50px;
  width: 420px;
  background-color: #D2D1D2;
}

.location {
  height: 80px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #4A4A4A;
}

.content {
  display: inline-block;
  padding-bottom: 10px;
}

.content > h1 {
  margin-bottom: 0px;
}

.content > h3 {
  margin: 0px;
}

.arrow {
  float: right;
  padding: 30px 10px 0 10px;
  width: 25px;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.location:hover {
  background-color: #B4B3B5;
}
